@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header {
    margin: 44px 0 144px 76px;
}

.link {
    margin-right: 23px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #989D9C;
}

.link:hover {
    color: #665AE1;
    text-decoration: underline;
}

.btn-log {
    Width:130px;
    Height:41px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #665AE1;
    border-radius: 20.5px;
    padding: 6px 22px;
    border: none;
}

.btn-log:hover {
    cursor: pointer;
    background: #ADFF00;
    color: rgb(0, 0, 0);
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 120px;
    display: inline-block;
}

.content {
    display: inline-block;
    margin-left: 20px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    text-transform: uppercase;
}

.about {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

button {
    background: #ADFF00;
    border-radius: 50px;
    border: none;
    Width:239px;
    Height: 64px;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

button:hover {
    background-color: #665AE1;
    color: #d5efca;
}




@media screen and (max-width: 900px){

    .content {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    header, p {
        display: none;
    
    }
    
    h1 {
        width: 263px;
        font-size: 50px;
        line-height: 61px;
        margin: 0 auto;
        
    }

    .about {
        font-size: 30px;
        line-height: 37px;
        width: 232px;
        height: 37px;
        margin: 0 auto;
        margin-bottom: 17px;
    }

    
    .img-logo {
        margin: 140px auto 25px auto;
        display: block;
        width: 354px;
        height: 317px;

    }

    button {
        display: block;
        margin: 0 auto;
    }
}